openapi: 3.0.0
info:
  description: |
    Tendermint supports the following RPC protocols:

    * URI over HTTP
    * JSONRPC over HTTP
    * JSONRPC over websockets

    ## Configuration

    RPC can be configured by tuning parameters under `[rpc]` table in the
    `$TMHOME/config/config.toml` file or by using the `--rpc.X` command-line
    flags.

    Default rpc listen address is `tcp://0.0.0.0:26657`.
    To set another address, set the `laddr` config parameter to desired value.
    CORS (Cross-Origin Resource Sharing) can be enabled by setting
    `cors_allowed_origins`, `cors_allowed_methods`, `cors_allowed_headers`
    config parameters.

    ## Arguments

    Arguments which expect strings or byte arrays may be passed as quoted
    strings, like `"abc"` or as `0x`-prefixed strings, like `0x616263`.

    ## URI/HTTP

    A REST like interface.

        curl localhost:26657/block?height=5

    ## JSONRPC/HTTP

    JSONRPC requests can be POST'd to the root RPC endpoint via HTTP.

        curl --header "Content-Type: application/json" --request POST --data '{"method": "block", "params": ["5"], "id": 1}' localhost:26657

    ## JSONRPC/websockets

    JSONRPC requests can be also made via websocket.
    The websocket endpoint is at `/websocket`, e.g. `localhost:26657/websocket`.
    Asynchronous RPC functions like event `subscribe` and `unsubscribe` are
    only available via websockets.

    Example using https://github.com/hashrocket/ws:

        ws ws://localhost:26657/websocket
        > { "jsonrpc": "2.0", "method": "subscribe", "params": ["tm.event='NewBlock'"], "id": 1 }
  license:
    name: Apache 2.0
    url: https://github.com/tendermint/tendermint/blob/master/LICENSE
  title: Tendermint RPC
  version: Master
servers:
- description: Cosmos mainnet node to interact with the Tendermint RPC
  url: https://rpc.cosmos.network
- description: Interact with the Tendermint RPC locally on your device
  url: http://localhost:26657
tags:
- description: Subscribe/unsubscribe are reserved for websocket events.
  name: Websocket
- description: Informations about the node APIs
  name: Info
- description: Transactions broadcast APIs
  name: Tx
- description: ABCI APIs
  name: ABCI
- description: Evidence APIs
  name: Evidence
paths:
  /broadcast_tx_sync:
    get:
      description: |
        If you want to be sure that the transaction is included in a block, you can
        subscribe for the result using JSONRPC via a websocket. See
        https://docs.tendermint.com/master/app-dev/subscribing-to-events-via-websocket.html
        If you haven't received anything after a couple of blocks, resend it. If the
        same happens again, send it to some other node. A few reasons why it could
        happen:

        1. malicious node can drop or pretend it had committed your tx
        2. malicious proposer (not necessary the one you're communicating with) can
        drop transactions, which might become valid in the future
        (https://github.com/tendermint/tendermint/issues/3322)


        Please refer to
        https://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting
        for formatting/encoding rules.
      operationId: broadcast_tx_sync
      parameters:
      - description: The transaction
        explode: true
        in: query
        name: tx
        required: true
        schema:
          example: "456"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxResponse'
          description: Empty
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Returns with the response from CheckTx. Does not wait for DeliverTx
        result.
      tags:
      - Tx
  /broadcast_tx_async:
    get:
      description: |
        If you want to be sure that the transaction is included in a block, you can
        subscribe for the result using JSONRPC via a websocket. See
        https://docs.tendermint.com/master/app-dev/subscribing-to-events-via-websocket.html
        If you haven't received anything after a couple of blocks, resend it. If the
        same happens again, send it to some other node. A few reasons why it could
        happen:

        1. malicious node can drop or pretend it had committed your tx
        2. malicious proposer (not necessary the one you're communicating with) can
        drop transactions, which might become valid in the future
        (https://github.com/tendermint/tendermint/issues/3322)
        3. node can be offline

        Please refer to
        https://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting
        for formatting/encoding rules.
      operationId: broadcast_tx_async
      parameters:
      - description: The transaction
        explode: true
        in: query
        name: tx
        required: true
        schema:
          example: "123"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Returns right away, with no response. Does not wait for CheckTx nor
        DeliverTx results.
      tags:
      - Tx
  /broadcast_tx_commit:
    get:
      description: |
        IMPORTANT: use only for testing and development. In production, use
        BroadcastTxSync or BroadcastTxAsync. You can subscribe for the transaction
        result using JSONRPC via a websocket. See
        https://docs.tendermint.com/master/app-dev/subscribing-to-events-via-websocket.html

        CONTRACT: only returns error if mempool.CheckTx() errs or if we timeout
        waiting for tx to commit.

        If CheckTx or DeliverTx fail, no error will be returned, but the returned result
        will contain a non-OK ABCI code.

        Please refer to
        https://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting
        for formatting/encoding rules.
      operationId: broadcast_tx_commit
      parameters:
      - description: The transaction
        explode: true
        in: query
        name: tx
        required: true
        schema:
          example: "785"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxCommitResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Returns with the responses from CheckTx and DeliverTx.
      tags:
      - Tx
  /check_tx:
    get:
      description: |
        The transaction won't be added to the mempool.

        Please refer to
        https://docs.tendermint.com/master/tendermint-core/using-tendermint.html#formatting
        for formatting/encoding rules.
      operationId: check_tx
      parameters:
      - description: The transaction
        explode: true
        in: query
        name: tx
        required: true
        schema:
          example: "785"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTxResponse'
          description: ABCI application's CheckTx response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Checks the transaction without executing it.
      tags:
      - Tx
  /status:
    get:
      description: |
        Get Tendermint status including node info, pubkey, latest block hash, app hash, block height and time.
      operationId: status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Status of the node
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Node Status
      tags:
      - Info
  /net_info:
    get:
      description: |
        Get network info.
      operationId: net_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetInfoResponse'
          description: empty answer
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: empty error
      summary: Network informations
      tags:
      - Info
  /block:
    get:
      description: |
        Get Block.
      operationId: block
      parameters:
      - description: height to return. If no height is provided, it will fetch the
          latest block.
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 0
          example: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
          description: Block informations.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get block at a specified height
      tags:
      - Info
  /block_by_hash:
    get:
      description: |
        Get Block By Hash.
      operationId: block_by_hash
      parameters:
      - description: block hash
        explode: true
        in: query
        name: hash
        required: true
        schema:
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
          description: Block informations.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get block by hash
      tags:
      - Info
  /unconfirmed_txs:
    get:
      description: |
        Get list of unconfirmed transactions
      operationId: unconfirmed_txs
      parameters:
      - description: Maximum number of unconfirmed transactions to return (max 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 30
          example: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnconfirmedTransactionsResponse'
          description: List of unconfirmed transactions
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get the list of unconfirmed transactions
      tags:
      - Info
  /num_unconfirmed_txs:
    get:
      description: |
        Get data about unconfirmed transactions
      operationId: num_unconfirmed_txs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumUnconfirmedTransactionsResponse'
          description: status about unconfirmed transactions
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get data about unconfirmed transactions
      tags:
      - Info
  /tx_search:
    get:
      description: |
        Search for transactions w/ their results.

        See /subscribe for the query syntax.
      operationId: tx_search
      parameters:
      - description: Query
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: tx.height=1000
          type: string
        style: form
      - description: Include proofs of the transactions inclusion in the block
        explode: true
        in: query
        name: prove
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      - description: Page number (1-based)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          type: number
        style: form
      - description: 'Number of entries per page (max: 100)'
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 30
          example: 30
          type: number
        style: form
      - description: Order in which transactions are sorted ("asc" or "desc"), by
          height & index. If empty, default sorting will be still applied.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: asc
          example: asc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxSearchResponse'
          description: List of unconfirmed transactions
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Search for transactions
      tags:
      - Info
  /tx:
    get:
      description: |
        Get a trasasction
      operationId: tx
      parameters:
      - description: transaction Hash to retrive
        explode: true
        in: query
        name: hash
        required: true
        schema:
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          type: string
        style: form
      - description: Include proofs of the transactions inclusion in the block
        explode: true
        in: query
        name: prove
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxResponse'
          description: Get a transaction`
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      summary: Get transactions by hash
      tags:
      - Info
components:
  schemas:
    JSONRPC:
      properties:
        id:
          example: 0
          type: number
        jsonrpc:
          example: "2.0"
          type: string
      type: object
    EmptyResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/EmptyResponse_allOf'
      description: Empty Response
    ErrorResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/ErrorResponse_allOf'
      description: Error Response
    ProtocolVersion:
      properties:
        p2p:
          example: "7"
          type: string
        block:
          example: "10"
          type: string
        app:
          example: "0"
          type: string
      type: object
    PubKey:
      properties:
        type:
          example: tendermint/PubKeyEd25519
          type: string
        value:
          example: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
          type: string
      type: object
    NodeInfo:
      properties:
        protocol_version:
          $ref: '#/components/schemas/ProtocolVersion'
        id:
          example: 5576458aef205977e18fd50b274e9b5d9014525a
          type: string
        listen_addr:
          example: tcp:0.0.0.0:26656
          type: string
        network:
          example: cosmoshub-2
          type: string
        version:
          example: 0.32.1
          type: string
        channels:
          example: "4020212223303800"
          type: string
        moniker:
          example: moniker-node
          type: string
        other:
          $ref: '#/components/schemas/NodeInfo_other'
      type: object
    SyncInfo:
      properties:
        latest_block_hash:
          example: 790BA84C3545FCCC49A5C629CEE6EA58A6E875C3862175BDC11EE7AF54703501
          type: string
        latest_app_hash:
          example: C9AEBB441B787D9F1D846DE51F3826F4FD386108B59B08239653ABF59455C3F8
          type: string
        latest_block_height:
          example: "1262196"
          type: string
        latest_block_time:
          example: 2019-08-01T11:52:22.818762194Z
          type: string
        earliest_block_hash:
          example: 790BA84C3545FCCC49A5C629CEE6EA58A6E875C3862175BDC11EE7AF54703501
          type: string
        earliest_app_hash:
          example: C9AEBB441B787D9F1D846DE51F3826F4FD386108B59B08239653ABF59455C3F8
          type: string
        earliest_block_height:
          example: "1262196"
          type: string
        earliest_block_time:
          example: 2019-08-01T11:52:22.818762194Z
          type: string
        catching_up:
          example: false
          type: boolean
      type: object
    ValidatorInfo:
      properties:
        address:
          example: 5D6A51A8E9899C44079C6AF90618BA0369070E6E
          type: string
        pub_key:
          $ref: '#/components/schemas/PubKey'
        voting_power:
          example: "0"
          type: string
      type: object
    Status:
      description: Status Response
      properties:
        node_info:
          $ref: '#/components/schemas/NodeInfo'
        sync_info:
          $ref: '#/components/schemas/SyncInfo'
        validator_info:
          $ref: '#/components/schemas/ValidatorInfo'
      type: object
    StatusResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/StatusResponse_allOf'
      description: Status Response
    Monitor:
      properties:
        Active:
          example: true
          type: boolean
        Start:
          example: 2019-07-31T14:31:28.66Z
          type: string
        Duration:
          example: "168901060000000"
          type: string
        Idle:
          example: "168901040000000"
          type: string
        Bytes:
          example: "5"
          type: string
        Samples:
          example: "1"
          type: string
        InstRate:
          example: "0"
          type: string
        CurRate:
          example: "0"
          type: string
        AvgRate:
          example: "0"
          type: string
        PeakRate:
          example: "0"
          type: string
        BytesRem:
          example: "0"
          type: string
        TimeRem:
          example: "0"
          type: string
        Progress:
          example: 0
          type: number
      type: object
    Channel:
      properties:
        ID:
          example: 48
          type: number
        SendQueueCapacity:
          example: "1"
          type: string
        SendQueueSize:
          example: "0"
          type: string
        Priority:
          example: "5"
          type: string
        RecentlySent:
          example: "0"
          type: string
      type: object
    ConnectionStatus:
      properties:
        Duration:
          example: "168901057956119"
          type: string
        SendMonitor:
          $ref: '#/components/schemas/Monitor'
        RecvMonitor:
          $ref: '#/components/schemas/Monitor'
        Channels:
          items:
            $ref: '#/components/schemas/Channel'
          type: array
      type: object
    Peer:
      properties:
        node_info:
          $ref: '#/components/schemas/NodeInfo'
        is_outbound:
          example: true
          type: boolean
        connection_status:
          $ref: '#/components/schemas/ConnectionStatus'
        remote_ip:
          example: 95.179.155.35
          type: string
      type: object
    NetInfo:
      properties:
        listening:
          example: true
          type: boolean
        listeners:
          items:
            example: Listener(@)
            type: string
          type: array
        n_peers:
          example: "1"
          type: string
        peers:
          items:
            $ref: '#/components/schemas/Peer'
          type: array
      type: object
    NetInfoResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/NetInfoResponse_allOf'
      description: NetInfo Response
    BlockID:
      properties:
        hash:
          example: D82C2734BB0E76C772A10994B210EF9D11505D1B98CB189D9CF7F9A5488672A5
          type: string
        parts:
          $ref: '#/components/schemas/BlockID_parts'
      required:
      - hash
      - parts
      type: object
    BlockHeader:
      properties:
        version:
          $ref: '#/components/schemas/BlockHeader_version'
        chain_id:
          example: cosmoshub-2
          type: string
        height:
          example: "12"
          type: string
        time:
          example: 2019-04-22T17:01:51.701356223Z
          type: string
        last_block_id:
          $ref: '#/components/schemas/BlockID'
        last_commit_hash:
          example: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
          type: string
        data_hash:
          example: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
          type: string
        validators_hash:
          example: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          type: string
        next_validators_hash:
          example: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          type: string
        consensus_hash:
          example: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
          type: string
        app_hash:
          example: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
          type: string
        last_results_hash:
          type: string
        evidence_hash:
          type: string
        proposer_address:
          example: D540AB022088612AC74B287D076DBFBC4A377A2E
          type: string
      required:
      - app_hash
      - chain_id
      - consensus_hash
      - data_hash
      - evidence_hash
      - height
      - last_block_id
      - last_commit_hash
      - last_results_hash
      - next_validators_hash
      - proposer_address
      - time
      - validators_hash
      - version
      type: object
    BlockMeta:
      properties:
        block_id:
          $ref: '#/components/schemas/BlockID'
        block_size:
          example: 1000000
          type: number
        header:
          $ref: '#/components/schemas/BlockHeader'
        num_txs:
          example: "54"
          type: string
      type: object
    Blockchain:
      properties:
        last_height:
          example: "1276718"
          type: string
        block_metas:
          items:
            $ref: '#/components/schemas/BlockMeta'
          type: array
      required:
      - block_metas
      - last_height
      type: object
    BlockchainResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/BlockchainResponse_allOf'
      description: Blockchain info
    Commit:
      properties:
        type:
          example: 2
          type: number
        height:
          example: "1262085"
          type: string
        round:
          example: 0
          type: number
        block_id:
          $ref: '#/components/schemas/BlockID'
        timestamp:
          example: 2019-08-01T11:39:38.867269833Z
          type: string
        validator_address:
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          type: string
        validator_index:
          example: 0
          type: number
        signature:
          example: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
          type: string
      required:
      - block_id
      - height
      - round
      - signature
      - timestamp
      - type
      - validator_address
      - validator_index
    Block:
      properties:
        header:
          $ref: '#/components/schemas/BlockHeader'
        data:
          $ref: '#/components/schemas/Block_data'
        evidence:
          $ref: '#/components/schemas/Evidence'
        last_commit:
          $ref: '#/components/schemas/Block_last_commit'
      type: object
    Validator:
      properties:
        pub_key:
          $ref: '#/components/schemas/PubKey'
        voting_power:
          type: number
        address:
          type: string
      type: object
    Evidence:
      properties:
        type:
          type: string
        height:
          type: number
        time:
          type: number
        total_voting_power:
          type: number
        validator:
          $ref: '#/components/schemas/Validator'
      type: object
    BlockComplete:
      properties:
        block_id:
          $ref: '#/components/schemas/BlockID'
        block:
          $ref: '#/components/schemas/Block'
      type: object
    BlockResponse:
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - $ref: '#/components/schemas/BlockResponse_allOf'
      description: Blockc info
    Tag:
      properties:
        key:
          example: YWN0aW9u
          type: string
        value:
          example: c2VuZA==
          type: string
      type: object
    BlockResultsResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/BlockResultsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    CommitResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/CommitResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ValidatorsResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/ValidatorsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    GenesisResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/GenesisResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    DumpConsensusResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/DumpConsensusResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ConsensusStateResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/ConsensusStateResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ConsensusParamsResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/ConsensusParamsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    NumUnconfirmedTransactionsResponse:
      example:
        result:
          total: "82"
          n_txs: "31"
          total_bytes: "19974"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/NumUnconfirmedTransactionsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    UnconfirmedTransactionsResponse:
      example:
        result:
          total: "82"
          n_txs: "82"
          total_bytes: "19974"
          txs:
          - gAPwYl3uCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUA75/FmYq9WymsOBJ0XSJ8yV8zmQKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhQbrvwbvlNiT+Yjr86G+YQNx7kRVgowjE1xDQoUjJyJG+WaWBwSiGannBRFdrbma+8SFK2m+1oxgILuQLO55n8mWfnbIzyPCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUQNGfkmhTNMis4j+dyMDIWXdIPiYKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhS8sL0D0wwgGCItQwVowak5YB38KRIUCg4KBXVhdG9tEgUxMDA1NBDoxRgaagom61rphyECn8x7emhhKdRCB2io7aS/6Cpuq5NbVqbODmqOT3jWw6kSQKUresk+d+Gw0BhjiggTsu8+1voW+VlDCQ1GRYnMaFOHXhyFv7BCLhFWxLxHSAYT8a5XqoMayosZf9mANKdXArA=
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/UnconfirmedTransactionsResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    TxSearchResponse:
      example:
        result:
          total_count: "2"
          txs:
          - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            tx_result:
              log: '[{"msg_index":"0","success":true,"log":""}]'
              gas_used: "28596"
              gas_wanted: "200000"
              events:
              - attributes:
                - value: c2VuZA==
                  key: YWN0aW9u
                - value: c2VuZA==
                  key: YWN0aW9u
                type: type
              - attributes:
                - value: c2VuZA==
                  key: YWN0aW9u
                - value: c2VuZA==
                  key: YWN0aW9u
                type: type
            index: 0
            proof:
              RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
              Proof:
                total: "2"
                leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
                aunts:
                - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
                index: "0"
              Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
            height: "1000"
          - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            tx_result:
              log: '[{"msg_index":"0","success":true,"log":""}]'
              gas_used: "28596"
              gas_wanted: "200000"
              events:
              - attributes:
                - value: c2VuZA==
                  key: YWN0aW9u
                - value: c2VuZA==
                  key: YWN0aW9u
                type: type
              - attributes:
                - value: c2VuZA==
                  key: YWN0aW9u
                - value: c2VuZA==
                  key: YWN0aW9u
                type: type
            index: 0
            proof:
              RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
              Proof:
                total: "2"
                leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
                aunts:
                - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
                index: "0"
              Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
            height: "1000"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/TxSearchResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    TxResponse:
      example:
        result:
          tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          tx_result:
            log: '[{"msg_index":"0","success":true,"log":""}]'
            gas_used: "28596"
            gas_wanted: "200000"
            tags:
            - value: c2VuZA==
              key: YWN0aW9u
            - value: c2VuZA==
              key: YWN0aW9u
          index: 0
          hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          height: "1000"
        id: 0
        jsonrpc: "2.0"
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/TxResponse_result'
      required:
      - id
      - jsonrpc
      - result
      type: object
    ABCIInfoResponse:
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/ABCIInfoResponse_result'
      required:
      - id
      - jsonrpc
      type: object
    ABCIQueryResponse:
      properties:
        error:
          type: string
        result:
          $ref: '#/components/schemas/ABCIQueryResponse_result'
        id:
          example: 0
          type: number
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    BroadcastEvidenceResponse:
      properties:
        error:
          type: string
        result:
          type: string
        id:
          example: 0
          type: number
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - id
      - jsonrpc
      type: object
    BroadcastTxCommitResponse:
      example:
        result:
          check_tx:
            code: "0"
            data: data
            log: log
          deliver_tx:
            code: "0"
            data: data
            log: log
          hash: 75CA0F856A4DA078FC4911580360E70CEFB2EBEE
          height: "26682"
        id: 0
        error: error
        jsonrpc: "2.0"
      properties:
        error:
          type: string
        result:
          $ref: '#/components/schemas/BroadcastTxCommitResponse_result'
        id:
          example: 0
          type: number
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    CheckTxResponse:
      example:
        result:
          code: "0"
          codespace: bank
          data: data
          log: log
          gas_used: "0"
          gas_wanted: "1"
          events:
          - attributes:
            - value: Q29zbW9zaGkgTmV0b3dva28=
              key: Y3JlYXRvcg==
            - value: Q29zbW9zaGkgTmV0b3dva28=
              key: Y3JlYXRvcg==
            type: app
          - attributes:
            - value: Q29zbW9zaGkgTmV0b3dva28=
              key: Y3JlYXRvcg==
            - value: Q29zbW9zaGkgTmV0b3dva28=
              key: Y3JlYXRvcg==
            type: app
          info: info
        id: 0
        error: error
        jsonrpc: "2.0"
      properties:
        error:
          type: string
        result:
          $ref: '#/components/schemas/CheckTxResponse_result'
        id:
          example: 0
          type: number
        jsonrpc:
          example: "2.0"
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    BroadcastTxResponse:
      example:
        result:
          code: "0"
          codespace: ibc
          data: data
          log: log
          hash: 0D33F2F03A5234F38706E43004489E061AC40A2E
        id: 0
        jsonrpc: "2.0"
        error: error
      properties:
        jsonrpc:
          example: "2.0"
          type: string
        id:
          example: 0
          type: number
        result:
          $ref: '#/components/schemas/BroadcastTxResponse_result'
        error:
          type: string
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
    dialPeersPost:
      properties:
        Persistent:
          example: false
          type: boolean
        Peers:
          example:
          - 6f172048b821e3b1ab98ffb0973ba737966eecf8@192.168.1.2:26656
          items:
            type: string
          type: array
      type: object
    dialSeedsPost:
      properties:
        Peers:
          example:
          - 6f172048b821e3b1ab98ffb0973ba737966eecf8@192.168.1.2:26656
          items:
            type: string
          type: array
      type: object
    dialResp:
      properties:
        Log:
          example: Dialing seeds in progress. See /net_info for details
          type: string
      type: object
    EmptyResponse_allOf:
      properties:
        result:
          additionalProperties: {}
          type: object
    ErrorResponse_allOf:
      properties:
        error:
          example: Description of failure
          type: string
    NodeInfo_other:
      example: moniker-node
      properties:
        tx_index:
          example: "on"
          type: string
        rpc_address:
          example: tcp:0.0.0.0:26657
          type: string
    StatusResponse_allOf:
      properties:
        result:
          $ref: '#/components/schemas/Status'
    NetInfoResponse_allOf:
      properties:
        result:
          $ref: '#/components/schemas/NetInfo'
    BlockID_parts:
      properties:
        total:
          example: "1"
          type: string
        hash:
          example: CB02DCAA7FB46BF874052EC2273FD0B1F2CF2E1593298D9781E60FE9C3DB8638
          type: string
      required:
      - hash
      - total
    BlockHeader_version:
      properties:
        block:
          example: "10"
          type: string
        app:
          example: "0"
          type: string
      required:
      - app
      - block
    BlockchainResponse_allOf:
      properties:
        result:
          $ref: '#/components/schemas/Blockchain'
    Block_data:
      properties:
        txs:
          items:
            type: string
            x-nullable: true
          type: array
          x-nullable: true
    Block_last_commit:
      properties:
        height:
          type: string
        round:
          type: string
        block_id:
          $ref: '#/components/schemas/BlockID'
        signatures:
          items:
            $ref: '#/components/schemas/Commit'
          type: array
    BlockResponse_allOf:
      properties:
        result:
          $ref: '#/components/schemas/BlockComplete'
    BlockResultsResponse_result_attributes:
      example:
        value: Q29zbW9zaGkgTmV0b3dva28=
        key: Y3JlYXRvcg==
      properties:
        key:
          example: Y3JlYXRvcg==
          type: string
        value:
          example: Q29zbW9zaGkgTmV0b3dva28=
          type: string
    BlockResultsResponse_result_events:
      example:
        attributes:
        - value: Q29zbW9zaGkgTmV0b3dva28=
          key: Y3JlYXRvcg==
        - value: Q29zbW9zaGkgTmV0b3dva28=
          key: Y3JlYXRvcg==
        type: app
      properties:
        type:
          example: app
          type: string
        attributes:
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_attributes'
          type: array
          x-nullable: false
    BlockResultsResponse_result_txs_results:
      properties:
        code:
          example: "0"
          type: string
        data:
          type: string
        log:
          example: not enough gas
          type: string
        info:
          type: string
        gas_wanted:
          example: "100"
          type: string
        gas_used:
          example: "100"
          type: string
        events:
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_events'
          type: array
          x-nullable: true
        codespace:
          example: ibc
          type: string
    BlockResultsResponse_result_pub_key:
      properties:
        type:
          example: tendermint/PubKeyEd25519
          type: string
        value:
          example: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
          type: string
      required:
      - type
      - value
    BlockResultsResponse_result_validator_updates:
      properties:
        pub_key:
          $ref: '#/components/schemas/BlockResultsResponse_result_pub_key'
        power:
          example: "300"
          type: string
    BlockResultsResponse_result_consensus_param_updates_block:
      properties:
        max_bytes:
          example: "22020096"
          type: string
        max_gas:
          example: "1000"
          type: string
        time_iota_ms:
          example: "1000"
          type: string
      required:
      - max_bytes
      - max_gas
      - time_iota_ms
    BlockResultsResponse_result_consensus_param_updates_evidence:
      properties:
        max_age:
          example: "100000"
          type: string
      required:
      - max_age
    BlockResultsResponse_result_consensus_param_updates_validator:
      properties:
        pub_key_types:
          example:
          - ed25519
          items:
            type: string
          type: array
      required:
      - pub_key_types
    BlockResultsResponse_result_consensus_param_updates:
      properties:
        block:
          $ref: '#/components/schemas/BlockResultsResponse_result_consensus_param_updates_block'
        evidence:
          $ref: '#/components/schemas/BlockResultsResponse_result_consensus_param_updates_evidence'
        validator:
          $ref: '#/components/schemas/BlockResultsResponse_result_consensus_param_updates_validator'
      required:
      - block
      - evidence
      - validator
    BlockResultsResponse_result:
      properties:
        height:
          example: "12"
          type: string
        txs_results:
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_txs_results'
          type: array
          x-nullable: true
        begin_block_events:
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_events'
          type: array
          x-nullable: true
        end_block:
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_events'
          type: array
          x-nullable: true
        validator_updates:
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_validator_updates'
          type: array
          x-nullable: true
        consensus_param_updates:
          $ref: '#/components/schemas/BlockResultsResponse_result_consensus_param_updates'
      required:
      - height
    CommitResponse_result_signed_header_header_last_block_id_parts:
      properties:
        total:
          example: 1
          type: number
        hash:
          example: CB02DCAA7FB46BF874052EC2273FD0B1F2CF2E1593298D9781E60FE9C3DB8638
          type: string
      required:
      - hash
      - total
    CommitResponse_result_signed_header_header_last_block_id:
      properties:
        hash:
          example: D82C2734BB0E76C772A10994B210EF9D11505D1B98CB189D9CF7F9A5488672A5
          type: string
        parts:
          $ref: '#/components/schemas/CommitResponse_result_signed_header_header_last_block_id_parts'
      required:
      - hash
      - parts
    CommitResponse_result_signed_header_header:
      properties:
        version:
          $ref: '#/components/schemas/BlockHeader_version'
        chain_id:
          example: cosmoshub-2
          type: string
        height:
          example: "12"
          type: string
        time:
          example: 2019-04-22T17:01:51.701356223Z
          type: string
        last_block_id:
          $ref: '#/components/schemas/CommitResponse_result_signed_header_header_last_block_id'
        last_commit_hash:
          example: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
          type: string
        data_hash:
          example: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
          type: string
        validators_hash:
          example: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          type: string
        next_validators_hash:
          example: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          type: string
        consensus_hash:
          example: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
          type: string
        app_hash:
          example: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
          type: string
        last_results_hash:
          type: string
        evidence_hash:
          type: string
        proposer_address:
          example: D540AB022088612AC74B287D076DBFBC4A377A2E
          type: string
      required:
      - app_hash
      - chain_id
      - consensus_hash
      - data_hash
      - evidence_hash
      - height
      - last_block_id
      - last_commit_hash
      - last_results_hash
      - next_validators_hash
      - proposer_address
      - time
      - validators_hash
      - version
    CommitResponse_result_signed_header_commit_block_id_parts:
      properties:
        total:
          example: 1
          type: number
        hash:
          example: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
          type: string
      required:
      - hash
      - total
    CommitResponse_result_signed_header_commit_block_id:
      properties:
        hash:
          example: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
          type: string
        parts:
          $ref: '#/components/schemas/CommitResponse_result_signed_header_commit_block_id_parts'
      required:
      - hash
      - parts
    CommitResponse_result_signed_header_commit_signatures:
      properties:
        block_id_flag:
          example: 2
          type: number
        validator_address:
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          type: string
        timestamp:
          example: 2019-04-22T17:01:58.376629719Z
          type: string
        signature:
          example: 14jaTQXYRt8kbLKEhdHq7AXycrFImiLuZx50uOjs2+Zv+2i7RTG/jnObD07Jo2ubZ8xd7bNBJMqkgtkd0oQHAw==
          type: string
    CommitResponse_result_signed_header_commit:
      properties:
        height:
          example: "1311801"
          type: string
        round:
          example: 0
          type: number
        block_id:
          $ref: '#/components/schemas/CommitResponse_result_signed_header_commit_block_id'
        signatures:
          items:
            $ref: '#/components/schemas/CommitResponse_result_signed_header_commit_signatures'
          type: array
      required:
      - block_id
      - height
      - round
      - signatures
    CommitResponse_result_signed_header:
      properties:
        header:
          $ref: '#/components/schemas/CommitResponse_result_signed_header_header'
        commit:
          $ref: '#/components/schemas/CommitResponse_result_signed_header_commit'
      required:
      - commit
      - header
    CommitResponse_result:
      properties:
        signed_header:
          $ref: '#/components/schemas/CommitResponse_result_signed_header'
        canonical:
          example: true
          type: boolean
      required:
      - canonical
      - signed_header
    ValidatorsResponse_result_validators:
      properties:
        address:
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          type: string
        pub_key:
          $ref: '#/components/schemas/BlockResultsResponse_result_pub_key'
        voting_power:
          example: "250353"
          type: string
        proposer_priority:
          example: "13769415"
          type: string
    ValidatorsResponse_result:
      properties:
        block_height:
          example: "55"
          type: string
        validators:
          items:
            $ref: '#/components/schemas/ValidatorsResponse_result_validators'
          type: array
        count:
          example: 1
          type: number
        total:
          example: 25
          type: number
      required:
      - block_height
      - validators
    GenesisResponse_result_genesis_pub_key:
      properties:
        type:
          example: tendermint/PubKeyEd25519
          type: string
        value:
          example: cOQZvh/h9ZioSeUMZB/1Vy1Xo5x2sjrVjlE/qHnYifM=
          type: string
      required:
      - type
      - value
    GenesisResponse_result_genesis_validators:
      properties:
        address:
          example: B00A6323737F321EB0B8D59C6FD497A14B60938A
          type: string
        pub_key:
          $ref: '#/components/schemas/GenesisResponse_result_genesis_pub_key'
        power:
          example: "9328525"
          type: string
        name:
          example: Certus One
          type: string
    GenesisResponse_result_genesis:
      properties:
        genesis_time:
          example: 2019-04-22T17:00:00Z
          type: string
        chain_id:
          example: cosmoshub-2
          type: string
        consensus_params:
          $ref: '#/components/schemas/BlockResultsResponse_result_consensus_param_updates'
        validators:
          items:
            $ref: '#/components/schemas/GenesisResponse_result_genesis_validators'
          type: array
        app_hash:
          type: string
        app_state:
          properties: {}
          type: object
      required:
      - app_hash
      - chain_id
      - consensus_params
      - genesis_time
      - validators
    GenesisResponse_result:
      properties:
        genesis:
          $ref: '#/components/schemas/GenesisResponse_result_genesis'
      required:
      - genesis
    DumpConsensusResponse_result_round_state_validators_validators:
      properties:
        address:
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          type: string
        pub_key:
          $ref: '#/components/schemas/BlockResultsResponse_result_pub_key'
        voting_power:
          example: "239727"
          type: string
        proposer_priority:
          example: -11896414
          type: string
    DumpConsensusResponse_result_round_state_validators_proposer_pub_key:
      properties:
        type:
          example: tendermint/PubKeyEd25519
          type: string
        value:
          example: VNMNfw7mrQBSpEvCtA9ykOe6BoR00RM9b/a9v3vXZhY=
          type: string
      required:
      - type
      - value
    DumpConsensusResponse_result_round_state_validators_proposer:
      properties:
        address:
          example: 708FDDCE121CDADA502F2B0252FEF13FDAA31E50
          type: string
        pub_key:
          $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_validators_proposer_pub_key'
        voting_power:
          example: "295360"
          type: string
        proposer_priority:
          example: -88886833
          type: string
      required:
      - address
      - proposer_priority
      - pub_key
      - voting_power
    DumpConsensusResponse_result_round_state_validators:
      properties:
        validators:
          items:
            $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_validators_validators'
          type: array
        proposer:
          $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_validators_proposer'
      required:
      - proposer
      - validators
    DumpConsensusResponse_result_round_state_votes:
      properties:
        round:
          example: "0"
          type: string
        prevotes:
          example:
          - nil-Vote
          - Vote{19:46A3F8B8393B 1311801/00/1(Prevote) 000000000000 64CE682305CB @
            2019-08-05T11:28:47.374703444Z}
          items:
            type: string
          type: array
          x-nullable: true
        prevotes_bit_array:
          example: BA{100:___________________x________________________________________________________________________________}
            209706/170220253 = 0.00
          type: string
        precommits:
          example:
          - nil-Vote
          items:
            type: string
          type: array
          x-nullable: true
        precommits_bit_array:
          example: BA{100:____________________________________________________________________________________________________}
            0/170220253 = 0.00
          type: string
    DumpConsensusResponse_result_round_state_last_commit:
      properties:
        votes:
          example:
          - Vote{0:000001E443FD 1311800/00/2(Precommit) 3071ADB27D1A 77EE1B6B6847
            @ 2019-08-05T11:28:43.810128139Z}
          items:
            type: string
          type: array
        votes_bit_array:
          example: BA{100:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}
            170220253/170220253 = 1.00
          type: string
        peer_maj_23s:
          properties: {}
          type: object
      required:
      - peer_maj_23s
      - votes
      - votes_bit_array
    DumpConsensusResponse_result_round_state_last_validators_validators:
      properties:
        address:
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          type: string
        pub_key:
          $ref: '#/components/schemas/BlockResultsResponse_result_pub_key'
        voting_power:
          example: "239727"
          type: string
        proposer_priority:
          example: -12136141
          type: string
    DumpConsensusResponse_result_round_state_last_validators_proposer:
      properties:
        address:
          example: B00A6323737F321EB0B8D59C6FD497A14B60938A
          type: string
        pub_key:
          $ref: '#/components/schemas/GenesisResponse_result_genesis_pub_key'
        voting_power:
          example: "8590153"
          type: string
        proposer_priority:
          example: -79515145
          type: string
      required:
      - address
      - proposer_priority
      - pub_key
      - voting_power
    DumpConsensusResponse_result_round_state_last_validators:
      properties:
        validators:
          items:
            $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_last_validators_validators'
          type: array
        proposer:
          $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_last_validators_proposer'
      required:
      - proposer
      - validators
    DumpConsensusResponse_result_round_state:
      properties:
        height:
          example: "1311801"
          type: string
        round:
          example: 0
          type: number
        step:
          example: 3
          type: number
        start_time:
          example: 2019-08-05T11:28:49.064658805Z
          type: string
        commit_time:
          example: 2019-08-05T11:28:44.064658805Z
          type: string
        validators:
          $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_validators'
        locked_round:
          example: -1
          type: number
        valid_round:
          example: -1
          type: string
        votes:
          items:
            $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_votes'
          type: array
        commit_round:
          example: -1
          type: number
        last_commit:
          $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_last_commit'
        last_validators:
          $ref: '#/components/schemas/DumpConsensusResponse_result_round_state_last_validators'
        triggered_timeout_precommit:
          example: false
          type: boolean
      required:
      - commit_round
      - commit_time
      - height
      - last_commit
      - last_validators
      - locked_block
      - locked_block_parts
      - locked_round
      - proposal
      - proposal_block
      - proposal_block_parts
      - round
      - start_time
      - step
      - triggered_timeout_precommit
      - valid_block
      - valid_block_parts
      - valid_round
      - validators
      - votes
    DumpConsensusResponse_result_peer_state_round_state_proposal_block_parts_header:
      properties:
        total:
          example: 0
          type: number
        hash:
          type: string
      required:
      - hash
      - total
    DumpConsensusResponse_result_peer_state_round_state:
      properties:
        height:
          example: "1311801"
          type: string
        round:
          example: "0"
          type: string
        step:
          example: 3
          type: number
        start_time:
          example: 2019-08-05T11:28:49.21730864Z
          type: string
        proposal:
          example: false
          type: boolean
        proposal_block_parts_header:
          $ref: '#/components/schemas/DumpConsensusResponse_result_peer_state_round_state_proposal_block_parts_header'
        proposal_pol_round:
          example: -1
          type: number
          x-nullable: true
        proposal_pol:
          example: ____________________________________________________________________________________________________
          type: string
          x-nullable: true
        prevotes:
          example: ___________________x________________________________________________________________________________
          type: string
          x-nullable: true
        precommits:
          example: ____________________________________________________________________________________________________
          type: string
          x-nullable: true
        last_commit_round:
          example: 0
          type: number
          x-nullable: true
        last_commit:
          example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          type: string
          x-nullable: true
        catchup_commit_round:
          example: -1
          type: number
          x-nullable: true
        catchup_commit:
          example: ____________________________________________________________________________________________________
          type: string
          x-nullable: true
      required:
      - catchup_commit
      - catchup_commit_round
      - height
      - last_commit
      - last_commit_round
      - precommits
      - prevotes
      - proposal
      - proposal_block_parts
      - proposal_block_parts_header
      - proposal_pol
      - proposal_pol_round
      - round
      - start_time
      - step
    DumpConsensusResponse_result_peer_state_stats:
      properties:
        votes:
          example: "1159558"
          type: string
        block_parts:
          example: "4786"
          type: string
      required:
      - block_parts
      - votes
    DumpConsensusResponse_result_peer_state:
      properties:
        round_state:
          $ref: '#/components/schemas/DumpConsensusResponse_result_peer_state_round_state'
        stats:
          $ref: '#/components/schemas/DumpConsensusResponse_result_peer_state_stats'
      required:
      - round_state
      - stats
    DumpConsensusResponse_result_peers:
      properties:
        node_address:
          example: 357f6a6c1d27414579a8185060aa8adf9815c43c@68.183.41.207:26656
          type: string
        peer_state:
          $ref: '#/components/schemas/DumpConsensusResponse_result_peer_state'
    DumpConsensusResponse_result:
      properties:
        round_state:
          $ref: '#/components/schemas/DumpConsensusResponse_result_round_state'
        peers:
          items:
            $ref: '#/components/schemas/DumpConsensusResponse_result_peers'
          type: array
      required:
      - peers
      - round_state
    ConsensusStateResponse_result_round_state_height_vote_set:
      properties:
        round:
          example: "0"
          type: string
        prevotes:
          example:
          - Vote{0:000001E443FD 1262197/00/1(Prevote) 634ADAF1F402 7BB974E1BA40 @
            2019-08-01T11:52:35.513572509Z}
          - nil-Vote
          items:
            type: string
          type: array
        prevotes_bit_array:
          example: BA{100:xxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}
            169753436/170151262 = 1.00
          type: string
        precommits:
          example:
          - Vote{5:18C78D135C9D 1262197/00/2(Precommit) 634ADAF1F402 8B5EFFFEABCD
            @ 2019-08-01T11:52:36.25600005Z}
          - nil-Vote
          items:
            type: string
          type: array
        precommits_bit_array:
          example: BA{100:xxxxxx_xxxxx_xxxx_x_xxx_xx_xx_xx__x_x_x__xxxxxxxxxxxxxx_xxxx_xx_xxxxxx_xxxxxxxx_xxxx_xxx_x_xxxx__xxx}
            118726247/170151262 = 0.70
          type: string
    ConsensusStateResponse_result_round_state_proposer:
      properties:
        address:
          example: D540AB022088612AC74B287D076DBFBC4A377A2E
          type: string
        index:
          example: "0"
          type: string
    ConsensusStateResponse_result_round_state:
      properties:
        height/round/step:
          example: 1262197/0/8
          type: string
        start_time:
          example: 2019-08-01T11:52:38.962730289Z
          type: string
        proposal_block_hash:
          example: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
          type: string
        locked_block_hash:
          example: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
          type: string
        valid_block_hash:
          example: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
          type: string
        height_vote_set:
          items:
            $ref: '#/components/schemas/ConsensusStateResponse_result_round_state_height_vote_set'
          type: array
        proposer:
          $ref: '#/components/schemas/ConsensusStateResponse_result_round_state_proposer'
      required:
      - height/round/step
      - height_vote_set
      - locked_block_hash
      - proposal_block_hash
      - proposer
      - start_time
      - valid_block_hash
    ConsensusStateResponse_result:
      properties:
        round_state:
          $ref: '#/components/schemas/ConsensusStateResponse_result_round_state'
      required:
      - round_state
    ConsensusParamsResponse_result:
      properties:
        block_height:
          example: "1313448"
          type: string
        consensus_params:
          $ref: '#/components/schemas/BlockResultsResponse_result_consensus_param_updates'
      required:
      - block_height
      - consensus_params
    NumUnconfirmedTransactionsResponse_result:
      example:
        total: "82"
        n_txs: "31"
        total_bytes: "19974"
      properties:
        n_txs:
          example: "31"
          type: string
        total:
          example: "82"
          type: string
        total_bytes:
          example: "19974"
          type: string
      required:
      - n_txs
      - total
      - total_bytes
    UnconfirmedTransactionsResponse_result:
      example:
        total: "82"
        n_txs: "82"
        total_bytes: "19974"
        txs:
        - gAPwYl3uCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUA75/FmYq9WymsOBJ0XSJ8yV8zmQKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhQbrvwbvlNiT+Yjr86G+YQNx7kRVgowjE1xDQoUjJyJG+WaWBwSiGannBRFdrbma+8SFK2m+1oxgILuQLO55n8mWfnbIzyPCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUQNGfkmhTNMis4j+dyMDIWXdIPiYKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhS8sL0D0wwgGCItQwVowak5YB38KRIUCg4KBXVhdG9tEgUxMDA1NBDoxRgaagom61rphyECn8x7emhhKdRCB2io7aS/6Cpuq5NbVqbODmqOT3jWw6kSQKUresk+d+Gw0BhjiggTsu8+1voW+VlDCQ1GRYnMaFOHXhyFv7BCLhFWxLxHSAYT8a5XqoMayosZf9mANKdXArA=
      properties:
        n_txs:
          example: "82"
          type: string
        total:
          example: "82"
          type: string
        total_bytes:
          example: "19974"
          type: string
        txs:
          example:
          - gAPwYl3uCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUA75/FmYq9WymsOBJ0XSJ8yV8zmQKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhQbrvwbvlNiT+Yjr86G+YQNx7kRVgowjE1xDQoUjJyJG+WaWBwSiGannBRFdrbma+8SFK2m+1oxgILuQLO55n8mWfnbIzyPCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUQNGfkmhTNMis4j+dyMDIWXdIPiYKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhS8sL0D0wwgGCItQwVowak5YB38KRIUCg4KBXVhdG9tEgUxMDA1NBDoxRgaagom61rphyECn8x7emhhKdRCB2io7aS/6Cpuq5NbVqbODmqOT3jWw6kSQKUresk+d+Gw0BhjiggTsu8+1voW+VlDCQ1GRYnMaFOHXhyFv7BCLhFWxLxHSAYT8a5XqoMayosZf9mANKdXArA=
          items:
            type: string
            x-nullable: true
          type: array
          x-nullable: true
      required:
      - n_txs
      - total
      - total_bytes
      - txs
    TxSearchResponse_result_tx_result_attributes:
      example:
        value: c2VuZA==
        key: YWN0aW9u
      properties:
        key:
          example: YWN0aW9u
          type: string
        value:
          example: c2VuZA==
          type: string
    TxSearchResponse_result_tx_result_events:
      example:
        attributes:
        - value: c2VuZA==
          key: YWN0aW9u
        - value: c2VuZA==
          key: YWN0aW9u
        type: type
      properties:
        type:
          type: string
        attributes:
          items:
            $ref: '#/components/schemas/TxSearchResponse_result_tx_result_attributes'
          type: array
    TxSearchResponse_result_tx_result:
      example:
        log: '[{"msg_index":"0","success":true,"log":""}]'
        gas_used: "28596"
        gas_wanted: "200000"
        events:
        - attributes:
          - value: c2VuZA==
            key: YWN0aW9u
          - value: c2VuZA==
            key: YWN0aW9u
          type: type
        - attributes:
          - value: c2VuZA==
            key: YWN0aW9u
          - value: c2VuZA==
            key: YWN0aW9u
          type: type
      properties:
        log:
          example: '[{"msg_index":"0","success":true,"log":""}]'
          type: string
        gas_wanted:
          example: "200000"
          type: string
        gas_used:
          example: "28596"
          type: string
        events:
          items:
            $ref: '#/components/schemas/TxSearchResponse_result_tx_result_events'
          type: array
      required:
      - events
      - gas_used
      - gas_wanted
      - log
    TxSearchResponse_result_proof_Proof:
      example:
        total: "2"
        leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
        aunts:
        - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
        index: "0"
      properties:
        total:
          example: "2"
          type: string
        index:
          example: "0"
          type: string
        leaf_hash:
          example: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
          type: string
        aunts:
          example:
          - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
          items:
            type: string
          type: array
      required:
      - aunts
      - index
      - leaf_hash
      - total
    TxSearchResponse_result_proof:
      example:
        RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
        Proof:
          total: "2"
          leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
          aunts:
          - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
          index: "0"
        Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
      properties:
        RootHash:
          example: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
          type: string
        Data:
          example: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          type: string
        Proof:
          $ref: '#/components/schemas/TxSearchResponse_result_proof_Proof'
      required:
      - Data
      - Proof
      - RootHash
    TxSearchResponse_result_txs:
      example:
        tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
        tx_result:
          log: '[{"msg_index":"0","success":true,"log":""}]'
          gas_used: "28596"
          gas_wanted: "200000"
          events:
          - attributes:
            - value: c2VuZA==
              key: YWN0aW9u
            - value: c2VuZA==
              key: YWN0aW9u
            type: type
          - attributes:
            - value: c2VuZA==
              key: YWN0aW9u
            - value: c2VuZA==
              key: YWN0aW9u
            type: type
        index: 0
        proof:
          RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
          Proof:
            total: "2"
            leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
            aunts:
            - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
            index: "0"
          Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
        hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
        height: "1000"
      properties:
        hash:
          example: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          type: string
        height:
          example: "1000"
          type: string
        index:
          example: 0
          type: number
        tx_result:
          $ref: '#/components/schemas/TxSearchResponse_result_tx_result'
        tx:
          example: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          type: string
        proof:
          $ref: '#/components/schemas/TxSearchResponse_result_proof'
    TxSearchResponse_result:
      example:
        total_count: "2"
        txs:
        - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          tx_result:
            log: '[{"msg_index":"0","success":true,"log":""}]'
            gas_used: "28596"
            gas_wanted: "200000"
            events:
            - attributes:
              - value: c2VuZA==
                key: YWN0aW9u
              - value: c2VuZA==
                key: YWN0aW9u
              type: type
            - attributes:
              - value: c2VuZA==
                key: YWN0aW9u
              - value: c2VuZA==
                key: YWN0aW9u
              type: type
          index: 0
          proof:
            RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
            Proof:
              total: "2"
              leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
              aunts:
              - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
              index: "0"
            Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          height: "1000"
        - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          tx_result:
            log: '[{"msg_index":"0","success":true,"log":""}]'
            gas_used: "28596"
            gas_wanted: "200000"
            events:
            - attributes:
              - value: c2VuZA==
                key: YWN0aW9u
              - value: c2VuZA==
                key: YWN0aW9u
              type: type
            - attributes:
              - value: c2VuZA==
                key: YWN0aW9u
              - value: c2VuZA==
                key: YWN0aW9u
              type: type
          index: 0
          proof:
            RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
            Proof:
              total: "2"
              leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
              aunts:
              - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
              index: "0"
            Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          height: "1000"
      properties:
        txs:
          items:
            $ref: '#/components/schemas/TxSearchResponse_result_txs'
          type: array
        total_count:
          example: "2"
          type: string
      required:
      - total_count
      - txs
    TxResponse_result_tx_result:
      example:
        log: '[{"msg_index":"0","success":true,"log":""}]'
        gas_used: "28596"
        gas_wanted: "200000"
        tags:
        - value: c2VuZA==
          key: YWN0aW9u
        - value: c2VuZA==
          key: YWN0aW9u
      properties:
        log:
          example: '[{"msg_index":"0","success":true,"log":""}]'
          type: string
        gas_wanted:
          example: "200000"
          type: string
        gas_used:
          example: "28596"
          type: string
        tags:
          items:
            $ref: '#/components/schemas/TxSearchResponse_result_tx_result_attributes'
          type: array
      required:
      - gas_used
      - gas_wanted
      - log
      - tags
    TxResponse_result:
      example:
        tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
        tx_result:
          log: '[{"msg_index":"0","success":true,"log":""}]'
          gas_used: "28596"
          gas_wanted: "200000"
          tags:
          - value: c2VuZA==
            key: YWN0aW9u
          - value: c2VuZA==
            key: YWN0aW9u
        index: 0
        hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
        height: "1000"
      properties:
        hash:
          example: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          type: string
        height:
          example: "1000"
          type: string
        index:
          example: 0
          type: number
        tx_result:
          $ref: '#/components/schemas/TxResponse_result_tx_result'
        tx:
          example: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          type: string
      required:
      - hash
      - height
      - index
      - tx
      - tx_result
    ABCIInfoResponse_result_response:
      properties:
        data:
          example: '{"size":0}'
          type: string
        version:
          example: 0.16.1
          type: string
        app_version:
          example: "1314126"
          type: string
      required:
      - app_version
      - data
      - version
    ABCIInfoResponse_result:
      properties:
        response:
          $ref: '#/components/schemas/ABCIInfoResponse_result_response'
      required:
      - response
    ABCIQueryResponse_result_response:
      properties:
        log:
          example: exists
          type: string
        height:
          example: "0"
          type: string
        proof:
          example: 010114FED0DAD959F36091AD761C922ABA3CBF1D8349990101020103011406AA2262E2F448242DF2C2607C3CDC705313EE3B0001149D16177BC71E445476174622EA559715C293740C
          type: string
        value:
          example: "61626364"
          type: string
        key:
          example: "61626364"
          type: string
        index:
          example: -1
          type: string
        code:
          example: "0"
          type: string
      required:
      - code
      - height
      - index
      - key
      - log
      - proof
      - value
    ABCIQueryResponse_result:
      properties:
        response:
          $ref: '#/components/schemas/ABCIQueryResponse_result_response'
      required:
      - response
    BroadcastTxCommitResponse_result_deliver_tx:
      example:
        code: "0"
        data: data
        log: log
      properties:
        log:
          type: string
        data:
          type: string
        code:
          example: "0"
          type: string
      required:
      - code
      - data
      - log
    BroadcastTxCommitResponse_result:
      example:
        check_tx:
          code: "0"
          data: data
          log: log
        deliver_tx:
          code: "0"
          data: data
          log: log
        hash: 75CA0F856A4DA078FC4911580360E70CEFB2EBEE
        height: "26682"
      properties:
        height:
          example: "26682"
          type: string
        hash:
          example: 75CA0F856A4DA078FC4911580360E70CEFB2EBEE
          type: string
        deliver_tx:
          $ref: '#/components/schemas/BroadcastTxCommitResponse_result_deliver_tx'
        check_tx:
          $ref: '#/components/schemas/BroadcastTxCommitResponse_result_deliver_tx'
      required:
      - check_tx
      - deliver_tx
      - hash
      - height
    CheckTxResponse_result:
      example:
        code: "0"
        codespace: bank
        data: data
        log: log
        gas_used: "0"
        gas_wanted: "1"
        events:
        - attributes:
          - value: Q29zbW9zaGkgTmV0b3dva28=
            key: Y3JlYXRvcg==
          - value: Q29zbW9zaGkgTmV0b3dva28=
            key: Y3JlYXRvcg==
          type: app
        - attributes:
          - value: Q29zbW9zaGkgTmV0b3dva28=
            key: Y3JlYXRvcg==
          - value: Q29zbW9zaGkgTmV0b3dva28=
            key: Y3JlYXRvcg==
          type: app
        info: info
      properties:
        code:
          example: "0"
          type: string
        data:
          type: string
        log:
          type: string
        info:
          type: string
        gas_wanted:
          example: "1"
          type: string
        gas_used:
          example: "0"
          type: string
        events:
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_events'
          type: array
          x-nullable: true
        codespace:
          example: bank
          type: string
      required:
      - code
      - data
      - log
    BroadcastTxResponse_result:
      example:
        code: "0"
        codespace: ibc
        data: data
        log: log
        hash: 0D33F2F03A5234F38706E43004489E061AC40A2E
      properties:
        code:
          example: "0"
          type: string
        data:
          type: string
        log:
          type: string
        codespace:
          example: ibc
          type: string
        hash:
          example: 0D33F2F03A5234F38706E43004489E061AC40A2E
          type: string
      required:
      - code
      - data
      - hash
      - log
